@import url("estilosComunes.css");

    #tipofv {
        margin-left: auto;
        margin-right: auto;
    }

    #text-calc {
        margin-top: 100px;
    }

    .input-short {
        max-width: 320px;
    }

    .card {
        background-color: #343a40; /* Color de fondo */
        border-radius: 10px; /* Radio de borde */
        box-shadow: 0px 4px 7px rgb(60, 93, 154);/* Sombra */
        transition: transform 0.3s ease; /* Transición */
        margin-bottom: -5vh;
    }
    
    .card:hover {
        transform: translateY(-10px); /* Efecto al pasar el mouse */
    }


   /* Estilos para los cuadros de resultado */
.result-box {
    background-color: #525a63; /* Fondo oscuro */
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Ocultar inicialmente */
}

/* Mostrar los recuadros cuando tengan la clase .visible */
.result-box.visible {
    display: block;
}

/* Estilo para el texto */
.result-box h3,
.result-box p {
    color: #ffffff; /* Texto blanco */
}


/*PARA LAS VENTANAS FLOTANTES*/
    /* Estilo del modal */
.modal {
    display: none; /* Por defecto, ocultar el modal */
    position: fixed; /* Permite que el modal flote sobre el contenido */
    z-index: 1; /* Poner el modal por encima del contenido */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: #fefefe; /* Fondo blanco */
    margin: 15% auto; /* Margen superior e inferior y centrar horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido del modal */
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Dirección de flexbox */
}


.contenedor {
    position: relative; /* El contenedor necesita ser relativo para que el botón se posicione relativo a él */
}

.close {
    color: #ff0000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; /* Posicionamiento absoluto */
    top: 10px; /* Ajusta este valor según sea necesario */
    right: 10px; /* Ajusta este valor para moverlo hacia la derecha */
}

   /*BOTÓN AYUDA*/
.help-button {
    background-color: #ffc107;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 36px;
    cursor: pointer;
    top: 150px; /* Ajustado para un mejor diseño responsive */
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el icono */
.help-icon {
    font-size: 20px;
}

.help-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    top: 150px; /* Ajustado para un mejor diseño responsive */
    border-radius: 8px;
    max-width: 90%; /* Asegura que el contenido no desborde en pantallas pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido sombra para mejor visibilidad */
}

/* Estilo para el mensaje cuando está visible */
.help-content.active {
    display: block;
}


     /* FIN BOTÓN AYUDA*/

    @media(max-width: 767px) {

        #nombre {
            width: 100%;
        }

        #telefono {
            width: 35vh;
        }
        
        #correo {
            width: 35vh; 
        }

        .help-button {
            width: 35px;
            height: 35px;
            font-size: 25px;
            top: 150px;
       
        }
    
        .help-icon {
            font-size: 16px;
        }
    
        .help-content {
            top: 150px;
            font-size: 12px;
        }

    }