@import url("estilosComunes.css");


    .section-header h2 {
        margin-top: 20px; 
    }

    #nombre {
        width: 100vh;
    }
    
    #telefono {
        width: 50vh;
    }
    
    #correo {
        width: 50vh; 
    }

    #invalid-feedback {
        color: rgb(22, 216, 255);
    }

 /*BOTÓN AYUDA*/
.help-button {
    background-color: #ffc107;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    right: 80px; /* Ajustado a la derecha */
    top: 350px; /* Ajustado para un mejor diseño responsive */
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el icono */
.help-icon {
    font-size: 20px;
}

.help-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    position: absolute;
    top: 350px; /* Ajustado para un mejor diseño responsive */
    right: calc(80px + 45px + 10px); /* Ajustado para que esté al lado del icono */
    border-radius: 8px;
    max-width: 200px; /* Asegura que el contenido no desborde en pantallas pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido sombra para mejor visibilidad */
}

/* Estilo para el mensaje cuando está visible */
.help-content.active {
    display: block;
}

@media(max-width: 767px) {
    #nombre {
        width: 100%;
    }

    #telefono {
        width: 35vh;
    }
    
    #correo {
        width: 35vh; 
    }

    .help-button {
        width: 35px;
        height: 35px;
        font-size: 25px;
        top: 150px;
        right: 20px; /* Ajustado a la derecha */
    }

    .help-icon {
        font-size: 16px;
    }

    .help-content {
        top: 150px;
        font-size: 12px;
        right: calc(20px + 35px + 10px); /* Ajustado para que esté al lado del icono */
    }
}



    