@import url("estilosComunes.css");


    .section-header h2 {
        margin-top: 20px; 
    }

    
    #telefono {
        width: 200px;
    }
    
    #correo {
        width: 350px; 
    }

    #invalid-feedback {
        color: rgb(22, 216, 255);
    }

 
/*BOTÓN AYUDA*/
.help-button {
    background-color: #ffc107;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: fixed;
    right: 20px; /* Ajusta este valor para la distancia desde el borde derecho */
    bottom: 20px; /* Ajusta este valor para la distancia desde el borde inferior */
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el icono */
.help-icon {
    font-size: 20px;
}

.help-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    position: fixed;
    bottom: 80px; /* Ajustado para que el contenido aparezca por encima del botón */
    right: 20px; /* Ajustado para que esté alineado con el botón */
    border-radius: 8px;
    max-width: 200px; /* Asegura que el contenido no desborde en pantallas pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido sombra para mejor visibilidad */
    z-index: 1000; /* Asegura que el contenido esté detrás del botón */
}

/* Estilo para el mensaje cuando está visible */
.help-content.active {
    display: block;
}

@media(max-width: 767px) {
    #nombre {
        width: 100%;
    }

    #telefono {
        width: 200px;
    }
    
    #correo {
        width: 200px; 
    }

}


    



    