@import url("estilosComunes.css");

.section-padding {
    padding: 70px 0;
}


.carousel-item img {
    height: 400px; /* Ajusta la altura según tus necesidades */
    width: 100%; /* Se asegura de que las imágenes ocupen todo el ancho del contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}


.carousel-caption {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
p {
    color: white;
}

p1 {
    color:black;
}

td {
    color: white;
}
.texto-carousel {
    position: relative; /* Establece la posición relativa para que podamos usar top */
    text-align: center; /* Alinea el texto al centro */
    top: 20px; /* Ajusta la posición vertical del texto */
}
.tablaEstilizada {
    border-collapse: collapse; /* Colapsamos los bordes de la tabla */
    width: 100%; /* Ancho de la tabla */
}

.tablaEstilizada th, .tablaEstilizada td {
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

/* Añadimos margen entre las celdas */
.tablaEstilizada td + td {
    margin-left: 10px; /* Ajusta el valor según lo que necesites */
}

.tablaEstilizada th {
    background-color: #f2f2f2; /* Color de fondo de las celdas del encabezado */
}



    #nombre {
        width: 100vh;
    }

    #telefono {
        width: 200px;
    }
    
    #correo {
        width: 350px; 
    }


/* Colores para los encabezados de la tabla */
.tablaEstilizada th {
    background-color: #343a40; /* Mismo color de fondo que la barra de navegación */
    color: white; /* Color de texto blanco */
}

/* Colores para las celdas de la tabla */
.tablaEstilizada td {
    background-color: transparent; /* Fondo transparente para mantener el fondo de la página */
    color: white; /* Color de texto blanco */
}

/* Ajuste adicional para la tabla */
.table {
    color: white; /* Color de texto blanco para la tabla en general */
    background-color: transparent; /* Fondo transparente */
    border-color: white; /* Color de borde blanco */
}

#info {
    color: white;
}
#tabla-estilo {
    background-color: #343a40;

}

/*BOTÓN AYUDA*/
.help-button {
    background-color: #ffc107;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    right: 80px; /* Ajustado a la derecha */
    top: 1200px; /* Ajustado para un mejor diseño responsive */
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el icono */
.help-icon {
    font-size: 20px;
}

.help-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    position: absolute;
    top: 1200px; /* Ajustado para un mejor diseño responsive */
    right: calc(80px + 45px + 10px); /* Ajustado para que esté al lado del icono */
    border-radius: 8px;
    max-width: 200px; /* Asegura que el contenido no desborde en pantallas pequeñas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadido sombra para mejor visibilidad */

}
/* Estilo para el mensaje cuando está visible */
.help-content.active {
    display: block;
}

@media(max-width: 767px) {
    #nombre {
        width: 100%;
    }

    #telefono {
        width: 200px;
    }
    
    #correo {
        width: 200px; 
    }

    .help-button {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 25px;
        top: 1600px;
        right: 40px; /* Ajustado a la derecha */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .help-icon {
        font-size: 16px;
    }

    .help-content {
        top: 1600px;
        font-size: 12px;
        right: calc(40px + 35px + 10px); /* Ajustado para que estÃ© al lado del icono */
    }
}

