@import url("estilosComunes.css");


    .section-header h2 {
        margin-top: 20px; 
    }

    #nombre {
        width: 100vh;
    }
    
    #telefono {
        width: 50vh;
    }
    
    #correo {
        width: 50vh; 
    }

    #invalid-feedback {
        color: rgb(22, 216, 255);
    }
    
    @media(max-width: 767px) {

        #nombre {
            width: 100%;
        }

        #telefono {
            width: 35vh;
        }
        
        #correo {
            width: 35vh; 
        }

    }
